.CommentList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 5rem;
    margin-bottom: 10px;

}

.Comment {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #111e36;
}

.Comment__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Comment__author {
    font-weight: bold;
    margin-right: 10px;
}

.Comment__email {
    font-style: italic;
    color: #999;
}

.Comment__body {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .navBar {
        flex-direction: column;
        text-align: center;
    }

    .navBar ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    .new_post {
        margin-top: 1rem;
    }
}