.postsLists {
    margin-top: 5rem;
    padding: 1rem;
}


.posts {
    display: flex;
    flex-direction: column;
    background-color: #111e36;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;

}

.posts h2::first-letter {
    text-transform: uppercase;
}

.post_btn {
    background-color: #a1f890e1;
    color: #fff;
    border: 1px solid #fff;
    opacity: 1;
    margin-top: 1rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    max-width: 110px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.post_btn:hover {
    background-color: #111e36;
}



.pagination {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 0 2px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #f5f5f5;
}

.pagination button.active {
    background-color: #111e36;
    color: #fff;

}

.pagination button:first-child {
    margin-left: 0;
}

.pagination button:last-child {
    margin-right: 0;
}